/* Write your global styles here, in PostCSS syntax */
@import 'open-props/postcss/style';
@import 'open-props/postcss/normalize';

:root {
	--brand-color: rgb(255, 71, 132);
}

svg {
	display: inline-block;
}

a {
	text-decoration: none;
}
